.appart_container {
    display: inline-block;
    margin-top: 24px;
    border: 6px dashed black;
    padding: 0;
    margin-left:0;
    margin-right:2%;
    margin-left:2%;
    max-width: 420px;
    
}

.appart_thumbnail {
    object-fit: fill;
    padding:0;
    max-width: 420px;
    /* position: static; */
    
}

.appart-block {
    width: 80%;
    display:inline-block;
}

.title_in_block{
    /* width: 24px; */
    /* padding-left: 24px; */
    padding-bottom:60px;
    display:inline-block;
}

.text_in_block {
    /* width: 320px; */
    /* padding-left: 120px; */
    display:inline-block;
    /* margin-left: 60px; */
}