<!-- <app-carousel></app-carousel> -->
<!-- <div class="container-fluid  d-lg-block d-none col-lg-3 selecteurcontainer"> -->

<!-- </div> -->

<!-- <div class="container bodycontainer"> -->
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- </div> -->
<!-- <div class="row justify-content-between">
<app-selecteur id="selecteur" class="d-none d-xl-inline col-2 align-self-left selecteurcontainer"></app-selecteur>
<app-appartements class="d-inline col-xs-12 col-xl-9 appartementscontainer"></app-appartements>
 <app-appartements class="col-xs-12 col-sm-12 col-md-12 appartements"></app-appartements> -->
<!-- </div> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">R E S E R V O I R</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->