/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.carousel-item{
    text-align: center;
}

body {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}