<div>
  <p>selecteur</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus iusto quia temporibus perspiciatis vel debitis quod expedita, voluptatibus quis quisquam consectetur sit, porro quae officia. Eaque beatae deserunt facere ipsum?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eligendi ipsum mollitia velit, dignissimos quam maiores recusandae labore, doloribus amet sunt officiis modi quidem quasi accusamus eos praesentium repellat magni!</p>
  <p>Atque, velit. Sapiente optio tenetur, ratione voluptas est delectus! Hic itaque ullam, nam placeat voluptatem cumque modi impedit, dolorem laborum optio iure corrupti maiores eligendi dolore dolor eaque perspiciatis temporibus.</p>
  <p>Vel, odio. Molestiae, nam maxime! Nostrum voluptatem accusantium itaque eos id? Id porro hic numquam, laboriosam fuga inventore amet vel. A ex qui nesciunt optio eveniet ullam nobis reiciendis voluptas.</p>
</div>